.landing-hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #381a58;
}

.landing-hero .landing-container {
  color: white;
  margin-left: 20px;
}

.landing-hero .landing-container p.title {
  font-size: 20px;
}

.landing-hero .landing-container h2.subtitle {
  max-width: 50%;
}

.landing-hero .landing-container button {
  font-size: 18px;
  padding: 8px;
}
